.input1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 4%;
    margin-right: 2%;
    /* background-color: aqua; */
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: black; */
    width: 22%;
}
form input{
    background-color: transparent;
    border: 2px solid rgb(15, 107, 212);
    padding: 10px 18px;
    border-radius: 10px;
    /* border: none; */
    outline: none;
    margin-bottom: 5%;
    font-size: 16px;
    font-weight: 600;
    color: rgba(32, 32, 32, 0.89);
}
form button{
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid rgb(15, 107, 212);
    margin-left: 30%;
    background-color: rgba(17, 206, 206, 0.747);
    outline: none;
}
.input2 h1{
    font-size: 20px;
    /* margin-right: 2%0; */
}
.input2{
    /* background-color: blue; */
    display: flex;
    margin-left: 17%;
    width: 100%;
    justify-content: space-around;
}
.input3{
    display: flex;
    justify-content: space-around;
    /* background-color: pink; */
    width: 120%;
    margin-top: 1%;
}
.input3 h1{
    font-size: 20px
}
form ::placeholder{
    color: rgba(45, 45, 45, 0.388);
}